<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th><i class="fas fa-box-open"></i> Product Name</th>
      <th><i class="fas fa-barcode"></i> Product Count</th>
      <th><i class="fas fa-user"></i> Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.product_name %></td>
        <td><%= order.product_count %></td>
        <% customer = Customer.find(order.customer_id) %>
        <td><%= customer.full_name %></td>
        <td><%= link_to 'Show', order, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_order_path(order), class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--
<%= link_to 'New Order', new_order_path %>
<%= link_to 'Customers', customers_path %>
-->
