<p id="notice"><%= notice %></p>

<div class="card shadow p-3 mb-5 bg-white rounded">

  <p>
    <i class="fas fa-box-open"></i><strong> Product name:</strong>
    <%= @order.product_name %>
  </p>

  <p>
    <i class="fas fa-barcode"></i><strong> Product count:</strong>
    <%= @order.product_count %>
  </p>

  <p>
    <i class="fas fa-user"></i><strong> Customer:</strong>
    <% customer = Customer.find(@order.customer_id)%>
    <%= customer.full_name %>
  </p>

</div>

<%= link_to 'Edit', edit_order_path(@order), class: "btn btn-primary" %> 
<%= link_to 'Back', orders_path, class: "btn btn-primary" %>
